.fondo-buy {
  background-color: $fondo-body;
  padding-bottom: 120px;
  margin-bottom: 125px;
}

.buy {
  padding-bottom: 98px;
  h2{
    padding-top: 105px;
    margin: 0 0 130px 0;
  }
  img{
    max-width: 100%;
    width: 100%;
  }
}

.buy-boxI {
  float: left;
  z-index: 0;
  position: relative;
  .buy, .share {
    display: none;
  }

  &:hover {
    .hover {
      .buy{
        display: block;
        font-size: 1rem;
        a{
          position: absolute;
          top: 710px;
          left: 38px;
          color: $primary-color;
        }
      }
      
      .share {
        display: block;
        position: absolute;
        top: 710px;
        left: 416px;
        a{
          color: $primary-color;
        }
      }
    }
  }
}

.boxI-content{
  z-index: 1;
  position: absolute;
  top: 0;
  color: $primary-color;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  
  p{
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
  }
  
}

.buy-boxII {
  width: 50%;
  float: right;
  img{
    margin-bottom: 50px;
  }
}

.buy-boxII-uno{
  img{
    width: 48%;
    float: left;
  }
  img + img {
    margin-left: 4%
  }
}

.boxII {
  position: relative;

  .boxII-content{
    position: absolute;
    top: 85px;
    left: 77px;
    font-size: 2.25rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: left;
    
    p {
      margin: 0;
      padding: 0;
    }

    span {
      font-size: 1.25rem;
      font-family: Georgia;
    }
  }

  .buy, .share {
    display: none;
  }

  &:hover {
    .hover {
      font-size: 1rem;
      font-style: normal;
      font-family: $font-secodary;
      .buy{
        display: block;
        a{
          position: absolute;
          top: 200px;
          left: 38px;
          color: $primary-color;
        }
      }
      
      .share {
        display: block;
        position: absolute;
        top: 200px;
        left: 406px;
        a{
          color: $primary-color;
        }
      }
    }
  }
}

.boxII-uno-boy{
  position: relative;
  p{
    position: absolute;
    top: 0;
    right: 0;
  }
}