.fondo-footer{
  background-color: $fondo-footer;
}

.footer {
  padding: 37px 0 37px 0;
  p{
    width: 50%;
    margin-right: 320px;
    float: left;
    font-family: $font-secodary;
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }

  .footer-social{
    img + img {
      margin-left: 22px; 
    }
  }
}