.reasons {
  font-family: $font-primary;
  margin-bottom: 63px;
}

.reasons-columna {
  width: 50%;

  .box {
    border: 1px solid $border-color;
    padding: 50px 66px 60px 45px;
    text-align: left;
    
    h3{
      font-size: 1.8rem;
      text-transform: uppercase;
      margin-top: 0;
    }
    
    p{
      font-size: 1.2rem;
      line-height: 1.8rem;
      margin-top: 0;
    }
    
    span{
      font-size: 1.25rem;
      font-style: italic;
    }
  }
  
  .alive{
    border-right: 0 solid;
    border-bottom: 0 solid;
    p {
      padding-bottom: 28px;
    }
  }

  .mahatma {
    border-left: 0 solid;
    border-top: 0 solid;
    p {
      padding-bottom: 28px;
    }
  }
}

.uno {
  float: left;
}

.dos {
  float: right;
}