.fondo{
  float: left;
  width: 50%;
  background-color: $fondo;
}

.columna-content{
  width: 50%;
  text-align: left;
  padding-top: 142px;
  font-size: 2.25rem;
  
  p{
    font-family: $font-tird;
    margin-bottom: 64px;
  }

  span{
    font-family: $font-secodary;
    padding-bottom: 50px;
  }

  .columna-dots{
    margin-bottom: 78px;
    button{
      margin-right: 0;
      background-color: transparent;
      border: 0.5px solid #ccc;
    }
    button:hover{
      background-color: #ccc;
    }
  }
}

.columna-img{
  float: right;
  width: 50%;
  img{
    max-width: 100%;
    width: 100%;
  }
}