@media (max-width: 1023px) {
  /*helpears*/
  .btn {
    width: 20%;
  }

  // reasons-columna 
  .reasons {
    margin: 0 2.5%;
    margin-bottom: 63px;
  }

  .reasons-columna {

  .mahatma {
    p {
      padding-bottom: 28px;
    }
  }
}
  /*buy*/
  .buy {
    margin: 0 2.5%;
  }

  .buy-boxI {
    width: 40%;
    
    &:hover {
      .hover {
        .buy{
          a{
            top: 500px;
          }
        }
        
        .share {
          top: 500px;
          left: 316px;
        }
      }
    }
  }
  
  .boxI-content{
    top: 50px;
    p{
      font-size: 3.5rem;
    }

    .boxI-hover{
      font-size: 0.5rem;
      
      a{
        color: $primary-color;
      }
    }
  }

  .boxII {
    &:hover {
      .hover {
        font-size: 0.8rem;
        .buy{
          a{
            position: absolute;
            top: 150px;
            left: 8px;
            color: $primary-color;
          }
        }
        
        .share {
          display: block;
          position: absolute;
          top: 150px;
          left: 350px;
          a{
            color: $primary-color;
          }
        }
      }
    }
  }

  /*info*/
  .info {
    margin: 0 2.25%;
  }

  input[type=submit]{
    width: 0;
  }

  .info-columna + .info-columna{
    margin-left: 4%;
  }

  /*footer*/
  .footer {
    padding: 0;
    padding-top: 40px;
    p{
      width: 80%;
      margin: 0 auto;
      float: none;
      margin-bottom: 40px;
    }
  }

  .footer-social{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 40px;
  }
}