@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

$font-primary:'Raleway';
$font-secodary:'Montserrat';
$font-secodary:'Montserrat';
$font-tird:'Alegreya Sans';


$primary-color:#ffffff;
$secondary-color:#000000;
$border-color: #eae9e7;
$fondo:#ffeae2;
$fondo-body:#f3f4f5;
$fondo-footer:#f2f4f5;
 